.input-flex {
    display: flex;
    justify-content: 'flex-start';
    align-items: 'center';
    gap: 0.5rem;
    width: 50%;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 0.5rem;
    padding: 0rem 0.5rem;
}

.input-flex input {
    width: 50%;
    padding: 0.5rem;
    border: 0;
}

.search-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.input-flex input:focus {
    outline: none;
}

.calendar-input {
    padding: 7px 27px !important;
    border-radius: 6px;
    border: 1px solid #d4d4d4;
    width: 100px;
}

.react-datepicker__month-wrapper {
    margin: 10px 20px !important;
    /* add horizontal space */
    row-gap: 12px;
    /* spacing between rows */
    column-gap: 16px;
    /* spacing between columns */
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    /* keep it 3-column layout */
}

.react-datepicker__current-month,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow {
    background-color: #007bff !important;
    /* your desired color */
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.react-datepicker__month-text--selected,
.react-datepicker__month-text--keyboard-selected {
    background-color: #2D6A4F !important;
    color: white !important;
    border-radius: 4px;
    padding: 5px;
}

.trans-head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.transTable {
    padding: 0px 15px;
}

.chart-style {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {
    .search-style {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
    }

    .trans-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* center items horizontally */
        gap: 10px;
        /* space between items */
        margin-bottom: 1rem;
    }

    .input-radio {
        display: flex;
        justify-content: center;
        gap: 1px;
    }

    .calendar-input {
        width: 100%;
        max-width: 100px;
        /* optional, keeps it from being too wide */
    }


    .transTable {
        padding: 0px;
    }

    .chart-style {
        display: flex;
        flex-direction: column;
    }


    .ant-table-wrapper,
    .chart-container {
        max-width: 100%;
        overflow-x: auto;
    }

    canvas,
    svg {
        max-width: 100% !important;
        /* ensures charts shrink */
        height: auto !important;
    }
}